/* @theme hsmw-inw */

@import "_hsmw";

:root {
    --hsmw-theme-color: #005095;
}

section {
        background-image: url(../img/background.svg);
}

section.title {
    background-image: url(../img/titlepage.svg);
}

section.agenda {
    background-image: url(../img/agenda.svg);
}

section.end {
    background-image: url(../img/endpage.svg);
}